@font-face {
   font-family: 'Minecrafter.Alt';
   font-display: swap;
   src: url('file:///C:/Users/ACER/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-06-30_165915/fonts/Minecrafter.Alt/font.ttf');
}
